    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #444;
        color: #000;
        background: url('../images/bg4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -100;
        height: 80vh;
        overflow: hidden;
        position: relative;
        background-blend-mode: multiply;
    }
    
    h3 {
        font-family: 'Abril Fatface', sans-serif;
        letter-spacing: 1px;
    }
    
    .fa-comments {
        color: #fff!important;
    }
    
    .container,
    .feedback {
        color: #fff;
        z-index: 5;
        opacity: 1;
    }
    
    input:focus {
        border: 1px solid darkgreen;
    }
    
    .btn-primary {
        cursor: pointer;
        background-color: darkgreen;
        border-radius: 12px;
        color: #fff;
        font-size: 18px;
        padding: 14px 40px;
        text-transform: capitalize;
        z-index: 999;
        text-align: center;
        outline: none;
        border: none;
        display: block;
        margin: auto auto;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    
    .btn-primary:hover {
        background: #fff;
        color: #000;
        font-weight: bold;
        border: none;
        outline: none;
    }
    
    .copyright {
        color: #fff;
    }
    /*media query*/
    
    @media(max-width:480px) {
        .social-links {
            display: none!important;
        }
    }