        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* global styles*/
        
        body {
            background-color: #333;
            color: #fff;
        }
        
        a {
            text-decoration: none;
        }
        
        .fa-comments {
            font-size: 2.5rem;
            font-weight: 800;
            color: #fff;
            z-index: 100;
            cursor: pointer;
            text-align: left;
        }
        
        .fa-comments:hover {
            transform: scale(1.3);
            cursor: pointer;
            transition: .5s ease-in-out;
            color: green;
        }
        
        h1 {
            font-family: 'Abril Fatface', sans-serif;
            letter-spacing: 2px;
            color: #fff;
        }
        
        h2,
        label {
            color: #f1f1f1;
        }
        
        label {
            color: #fff;
        }
        
        input {
            border: none;
            text-align: left;
        }
        
        input:focus {
            border: 1px solid darkgreen
        }
        
        .btn-primary {
            cursor: pointer;
            background-color: darkgreen;
            border-radius: 12px;
            color: #fff;
            font-size: 18px;
            padding: 14px 40px;
            text-transform: capitalize;
            z-index: 999;
            text-align: center;
            outline: none;
            border: none;
            display: block;
            margin: auto auto;
            margin-top: 15px;
            margin-bottom: 25px;
        }
        
        .btn-primary:hover {
            background: #fff;
            color: #000;
            font-weight: bold;
            border: none;
            outline: none;
        }
        
        .copyright {
            color: #fff;
        }
        
        .home {
            font-size: 25px;
        }
        /*media query*/
        
        @media(max-width: 480px) {
            .social-links {
                display: none!important;
            }
            .fa-hand-point-left {
                margin-top: 5px;
            }
            .fa-comments {
                display: none;
            }
        }